# 1. Basics

## 1.1 Theory & Examples

1. Object creation. An integer (300000) is created and stored in RAM (mémoire vive)
2. Variable definition. Its name (identifier) is “prix”
3. Variable assignation. Variable “prix” is assigned the object 300000; the variable is a reference towards the object 300000

In [ ]:
# Assignation of a variable, of which the identifier is "price"
price = 300000

# Basic function call, "print()", which allows to display the variable in the console
print(price) 

price = 50

print(price)

In [ ]:
# we can write several instructions on the same line, using the symbol ";"
a = 100000; b = 200000; c = 300000

# we can write a single instruction on multiple lines, using the symbol "\"
print(a + b \
      +c)

In [ ]:
# Valid identifier
_variable = 1
PrixPomme = 5
prixpomme = 10
prix_pomme = 15

print(PrixPomme, prixpomme, prix_pomme)

# Invalid identifiers
2variable = 1
v@ri@ble = 1

In [ ]:
prix = "5$"
print(prix)

There's no need to define the data type, the Python interpreter understands it itself:

In [ ]:
my_int = 250000
my_float = 1.25
my_boolean = True
my_string = "Rue de Bruxelles" 
# note the quotes to define the string

In [ ]:
print(my_int, my_float, my_boolean, my_string)

In [ ]:
print(type(my_string))

We can also dynamically modify the type of variables:

In [ ]:
my_string = 5.5
type(my_string)

**Type Conversion (Casting).** 
When possible, a type of data can be converted into another type of data: 
* Convert an int into a str: str(4) --> "4"
* Convert a str into an int: int("4") --> 4
* Convert a float into an int: int(4.8) --> 4
* Convert into a boolean: bool(""), bool(0.0), bool(0) --> False. Anyhting else will return True

In [ ]:
print(bool(""), bool(0.0), bool(0))
print(bool("0"), bool(-1.2), bool(-10), bool("hi"))
str(True), str(False), int(True), int(False), float(True), float(False)

In [ ]:
int(3.5), float("3.5"), str(3.5), bool(4.2), bool(-2), bool(0)

In [ ]:
print(3/2, 3//2, 3*2, 3**2, 3%2)

## 1.2 Exercises

**Exercise 1**. Store the string “Bienvenue” in a variable called message. Display its content.

**Exercise 2.** Store your first name in a variable, your last name in another variable and display the following message: “Bienvenue prénom nom!”. Example: “Bienvenue Elle Woods!”

# 2. Loops and conditions

## 2.1 Theory & Examples

In [ ]:
a=1
b=2
# We cannot change the indentation without defining a behavior
# for this new block of code (with a condition or a loop)
  c=3
  d=4

In [ ]:
condition = True
#a = 42
#condition = a == 43

if condition: 
  print("This is true!")
if condition == True: 
  print("This is really true!")

if condition == False: 
  print("This is false!")
if not condition: 
  print("This is not true!")

In [ ]:
house_price = 250000

condition = house_price < 200000

if condition: 
  print("This is a bargain!")
else: 
  print("This is expensive!")

In [ ]:
PER = 35 #price_earning_ratio

if PER < 0: 
  pass # nothing happens
elif PER < 10: 
  print("I buy!")
elif PER <= 30: 
  print("Hold!")
else: 
  print("I sell!")

In [ ]:
for i in range(0,5): 
  print("I am the iteration n°: ", i)

In [ ]:
for year in range(9,50): 

  if year % 4 == 0: 
    print("Bissextile year")
    continue #continue directly the remaining of the loop
  if year == 18: 
    print("Adult")
    break #exit of the loop
  print(year)

In [ ]:
count = 0
while count < 5: 
  print("I've been in a while loop for " + str(count) + "iterations")
  count += 1

In [ ]:
price = 100000
mine = False
while True: 
  # the condition is always true, this is an infinite loop
  # there needs to be at least one "break" in the instruction 
  # block to allow an exit
  # otherwise, we need to stop the program manually
  price += 20000
  print(price)
  
  if price > 150000 and price < 200000 and mine == False: 
    print("I buy")
    mine = True
  elif price > 200000 and mine: 
    print("I sell")
    mine = False

    break

## 2.2 Exercises

**Exercise 3**. Display the multiplication table of 7 (until 70) with a for or while loop.

In [ ]:
# Method 1 with while

# Method 2 with for

**Exercise 4**. Display the conversion table of euros into dollars. Stop at 16384 EUR. Example: 
* 1 euro(s) = 1.65 dollar(s) 
* 2 euro(s) = 3.30 dollar(s) 
* 4 euro(s) = 6.60 dollar(s) 
* 8 euro(s) = 13.20 dollar(s)
* etc.

# 3. Object Collections

## 3.1 Lists

In [ ]:
my_list = [1,2,3]
print(my_list)

In [ ]:
my_list = my_list + [4,5]
print(my_list)

In [ ]:
my_list[0] = "new item"
print(my_list)

In [ ]:
print(my_list[1:5])
print(my_list[-1:])
print(my_list[:-1])

In [ ]:
# run this 2 times and observe the result
my_list = my_list*2
print(my_list)

In [ ]:
# enables to know the length of a list
l = len(my_list)

# mathematical operations only work on lists
# of which all elements are numerical
num_list = [1,2,3, True, 4.2]
s = sum(num_list)
M = max(num_list)
m = min(num_list)

a = any([False, False, True]) 
A = all([False, False, True]) 

print(l, s, M, m, a, A)

In [ ]:
# Get rid of negative values in a list
my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]
new_list = []
for item in my_list: 
  if item >=0: 
    output = item
    new_list.append(output)
print("My newly positive list: ", new_list)

In [ ]:
# Get rid of negative values in a list
my_list = [-1, 2, 3, -7, 5, -4, 2, 8, -56, 9, 5.3, -4.5]
positive_list = [item for item in my_list if item >=0]
print("My *new* newly positive list: ", positive_list)

In [ ]:
table7_list = [i for i in range(0, 71) if i%7 == 0]
print(table7_list)

In [ ]:
this_list = [1, 2, 3, 4, 5, 6]
for index, element in enumerate(this_list):
  print(index, element)

## 3.2 Tuples

In [ ]:
my_tuple = ("Rue de Bruxelles", 200000, 200 )
my_tuple[1]

In [ ]:
my_tuple[0] = "Rempart de la Vierge"

In [ ]:
my_tuple.append("61")

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)
my_list = list(tuple1)
my_list[0] = "new item"
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

In [ ]:
this_tuple = (1, 2, 3, 4, 5, 6)
for index, element in enumerate(this_tuple):
  print(index, element)

0 1
1 2
2 3
3 4
4 5
5 6

## 3.3 Dictionaries

In [ ]:
my_dict = {"Adresse":"Rue de Bruxelles 61", "prix":200000, "surface":200 }
print(my_dict)
print(my_dict['Adresse']) # print(my_dict[0]) = KO

In [ ]:
my_dict["Nombre de chambres"]= 4
print(my_dict)

In [ ]:
my_dict["Nombre de chambres"]= 2
print(my_dict)

In [ ]:
for index, element in enumerate(my_dict):
  print(index, element)

In [ ]:
for key, value in my_dict.items():
  print(key, ":", value)

## 3.4 Summary

In [ ]:
my_list = ['a', 'b', 'c']
my_tuple = (1, 2, 3)
my_dict = {'a': 1, 'b': 2, 'c': 3}

my_list.append('d')
print(my_list[3], my_tuple[0], my_dict['c'])

# 4. Functions

## 4.1 Theory & Examples

In [ ]:
def my_function(x1, x2): 
  out = x1*x2
  return out

a = 6
b = 7
output = my_function(a, b)

print(output)

In [ ]:
def fct_with_default_val(nb_articles, price_in_euros, currency="Euro"):
  total_price = nb_articles*price
  if currency == "Euro":
    return total_price

  elif currency == "Dollar":
    return total_price*1.65

print(fct_with_default_val(5, 17.50))
print(fct_with_default_val(5, 17.50, "Dollar"))

## 4.2 Exercises

**Exercise 5**. Store any number in a variable called seconds. Convert this number of seconds in number of days, hours, minutes and seconds. Example: if you store the number 4561 in the variable seconds, this will give you: 0 day, 1 hour, 16 minutes and 1 second

**Exercise 6.** Store any year number in a variable called year. Create a function determining if the year you entered is a bissextile year. Note, a year is bissextile if it can be divided by 4, but not by 100. Or if it can be divided by 400. Example: 2000 and 1996 are bissextile years; while 1900 and 1997 are not.

### Solutions

In [ ]:
def bissextile_year(arg): 
  if (arg%400 == 0) or (arg%100 != 0 and arg%4 == 0): 
    print("This is a bissextile year")
  else: 
    print("This is not a bissextile year")

year = 2000
bissextile_year(year)

In [ ]:
def sec_convert(num_sec): 
  print(num_sec//(60*60*24), "Day(s)") # 60*60*24 = 86400
  print(num_sec%86400//(60*60), "Hour(s)")
  print(num_sec%86488%3600//(60), "Minute(s)")
  print(num_sec%86488%3600%60, "Second(s)")

seconds = 4561
sec_convert(seconds)

# 5. Modules

## 5.1 Numpy

### Basics

In [ ]:
import numpy as np

In [ ]:
a = np.array([1, 2, 3])
print(a.shape)
print(a)
print(a[0], a[1], a[2])

In [ ]:
a[0] = "new item"
print(a)

In [ ]:
a[0] = 4
print(a)

In [ ]:
b = np.array([[1,2,3],[4,5,6]])
print(b.shape)
print(b)
print(b[0, 0], b[0, 1], b[1, 0])

In [ ]:
b[0, 0] = 7
print(b)

### Some functions

In [ ]:
zero_matrix = np.zeros((2,2))
one_matrix = np.ones((3,2))
nb_matrix = np.full((2,2), 10)
id_matrix = np.eye(5) 
random_matrix = np.random.random((2,2))
range_matrix = np.arange(0, 4)

print(zero_matrix, "\n")
print(one_matrix, "\n")
print(nb_matrix, "\n")
print(id_matrix, "\n")
print(random_matrix, "\n")
print(range_matrix)

### Slicing

In [ ]:
big_array = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]])
print(big_array)

In [ ]:
sub_array = big_array[:2, 1:3] # with indexes
print(sub_array, sub_array.shape, "\n")

sub_array2 = big_array[0, 1:3]
print(sub_array2, sub_array2.shape)
print(sub_array2[0], "\n") # 1 index

sub_array3 = big_array[0:1, 1:3]
print(sub_array3, sub_array3.shape)
print(sub_array3[0, 0], "\n") # 2 indexes

sub_array[0, 0] = 1000 # Change is propagated to big_array!!!
print(sub_array, "\n")
print(big_array)

In [ ]:
print(big_array[np.array([0]), np.array([1,2])]) # with arrays

In [ ]:
print(big_array[(big_array>4)], "\n")
condition = big_array>4
print(condition)

### Operations

In [ ]:
array1 = np.array([[1,2],[3,4]])
array2 = np.array([[5,6],[7,8]])
print(array1, "\n")
print(array2)

In [ ]:
print(array1+array2, "\n")
print(array1-array2, "\n")
print(array1*array2, "\n")
print(array1/array2, "\n")

## 5.2 Matplotlib

In [ ]:
import matplotlib.pyplot as plt

### Line chart

In [ ]:
x = np.array([0, 3, 7, 9])
y = np.array([0, 1, 4, 8])

plt.plot(x, y)

plt.show()

In [ ]:
x = np.linspace(0, 10, 50) # 30 values between 0 and 6
y = np.sin(x)

plt.plot(x, y)

plt.show()

In [ ]:
x = np.linspace(0, 10, 50)
y = np.sin(x)

plt.plot(x, y)

plt.xlim(0, 6.5) # Change limits of x axis
plt.ylim(-1.5, 1.5) # Change limits of y axis

plt.title("Sinus function") # Add title

plt.show()

In [ ]:
x = np.linspace(0, 10, 50)
y = np.sin(x)
z = np.cos(x)

plt.plot(x, y, label = "sin(x)")
plt.plot(x, z, label = "cos(x)")
plt.legend() # Add legend

plt.xlim(0, 6.5) # Change limits of x axis
plt.ylim(-1.5, 1.5) # Change limits of y axis

plt.title("Sinus and cosinus functions") # Add title

plt.show()

In [ ]:
x = np.linspace(0, 10, 50)
y = np.sin(x)
z = np.cos(x)

plt.plot(x, y, label = "sin(x)")
plt.plot(x, z, label = "cos(x)")
plt.legend() # Add legend

plt.xlim(0, 6.5) # Change limits of x axis
plt.ylim(-1.5, 1.5) # Change limits of y axis

plt.title("Sinus and cosinus functions") # Add title

plt.xlabel("abscissa") # Add x label
plt.ylabel("ordinate") # Add y label

plt.show()

In [ ]:
x = np.linspace(0, 10, 50)
y = np.sin(x)
z = np.cos(x)

plt.plot(x, y, "g--", label = "sin(x)") # https://matplotlib.org/3.3.2/api/_as_gen/matplotlib.pyplot.plot.html
plt.plot(x, z, "k-o", label = "cos(x)") # Change lines
plt.legend() # Add legend

plt.xlim(0, 6.5) # Change limits of x axis
plt.ylim(-1.5, 1.5) # Change limits of y axis

plt.title("Sinus and cosinus functions") # put title

plt.xlabel("abscissa") # Add x label
plt.ylabel("ordinate") # Add y label

plt.show()

In [ ]:
x = np.linspace(0, 10, 50)
y = np.sin(x)
z = np.cos(x)

plt.plot(x, y, "g--", label = "sin(x)") # https://matplotlib.org/3.3.2/api/_as_gen/matplotlib.pyplot.plot.html
plt.plot(x, z, "k-o", label = "cos(x)") # Change lines
plt.legend() # Add legend

plt.xlim(0, 6.5) # Change limits of x axis
plt.ylim(-1.5, 1.5) # Change limits of y axis

plt.title("Sinus and cosinus functions") # put title

plt.xlabel("abscissa") # Add x label
plt.ylabel("ordinate") # Add y label

plt.axis("equal") # xlim et ylim KO

plt.show()

### Bar chart

In [ ]:
x = np.array([0, 1, 2, 3, 4]) # Position on x axis
y = np.array([5, 6, 4, 8, 9]) # Height of bar

plt.bar(x, y) 

plt.title("Bar chart") 

plt.xlabel("Category")
plt.ylabel("Value")

plt.show()

## 5.3 Pandas

In [ ]:
import pandas as pd

### Basics

In [ ]:
# Access csv file and create dataframe
first_df = pd.read_csv("/content/sample_data/california_housing_train.csv")

# Print the dataframe
print(first_df)

In [ ]:
# Print the names of the columns in a list
print(list(first_df.columns), "\n")

# Print the first rows of the df
print(first_df.head(), "\n")

# Accessing columns
print(first_df['longitude'].head(), "\n")
print(first_df[['longitude', 'latitude']].head(), "\n")
print(first_df[first_df.columns[0:2]].head())

In [ ]:
# Pretty printing the dataframe
print(first_df.head().to_markdown())

In [ ]:
# Accessing rows
print(first_df.loc[0:11], "\n") # loc -> name of row and column
print(first_df.iloc[0:11], "\n") # iloc -> indexes

print(first_df.loc[0, "longitude"], "\n")
# print(first_df.loc[0, 0], "\n") # = KO

# print (first_df.iloc[0, "longitude"], "\n") # = KO
print(first_df.iloc[0, 0], "\n")

In [ ]:
# Conditional selection for accessing rows
print(first_df[first_df["total_rooms"] >= 10000].to_markdown())

### Some functions

In [ ]:
# Print the type of each column
print(first_df.dtypes)

In [ ]:
# Print stats about the df
print(first_df.describe())

### Modify the dataframe

In [ ]:
# Add a column
first_df["a_str_column"] = "Here is a str (with brackets)"
first_df["A_str_column"] = "Here is a str (with brackets)"

print(first_df.head().to_markdown(), "\n")

# Drop a column
first_df = first_df.drop("a_str_column", axis=1)
first_df = first_df.drop(columns = "A_str_column")

print(first_df.head().to_markdown())

In [ ]:
# Drop rows
first_df = first_df.drop(range(0,10), axis=0) # How to get rows back?

print(first_df.head().to_markdown())

In [ ]:
# Change value
first_df.iloc[0, 0] = "Changed_value"

print(first_df.head().to_markdown())

In [ ]:
# Replace value with Nan
first_df = first_df.replace(-114.31, np.nan)

print(first_df)

### Deal with nan values

In [ ]:
# Find nan values
print(first_df.head().isna(), "\n")
print(first_df.head().isna().sum(), "\n") # Number of Nan values per column
print(first_df.head().isna().sum().sum(), "\n") # Total number of Nan values

In [ ]:
# Drop rows with nan values
first_df = first_df.dropna(axis=0)

# Drop columns with nan values
first_df = first_df.dropna(axis=1)

print(first_df.head().to_markdown())

In [ ]:
# Fill nan values
first_df = first_df.fillna(value="Whatever")

print(first_df)