# Dataframe

Using this link: https://grouplens.org/datasets/movielens/ , you can find the file **ml-latest-small.zip**. The zip contains various data files. You may load different files depending on the exercise.

# Question 1

Based on ratings dataset (using file **ratings.csv**):

In [8]:
import pandas as pd

In [9]:
links = pd.read_csv("/content/drive/My Drive/Colab Notebooks/links.csv")
movies = pd.read_csv("/content/drive/My Drive/Colab Notebooks/movies.csv")
ratings = pd.read_csv("/content/drive/My Drive/Colab Notebooks/ratings.csv")

1.1 How many marks were given?

In [ ]:
print(len(ratings["rating"]))

100836

1.2	How many different marks were given?

In [ ]:
print(ratings["rating"].nunique())

10

1.3 How many marks of 4 were given?

In [ ]:
print(len(ratings[ratings["rating"] == 4]))

26818

1.4 Among these ratings of 4, what is the most popular movie?

In [ ]:
rating4 = ratings[ratings["rating"] ==4]
rating4 = rating4.reset_index()
nb_ratings_of_4_by_movieId = rating4[['rating',"movieId"]].groupby("movieId",as_index=False).count()
max_rating = nb_ratings_of_4_by_movieId["rating"].max()

print(nb_ratings_of_4_by_movieId[nb_ratings_of_4_by_movieId["rating"] == max_rating])

In [ ]:
rating4 = ratings[ratings["rating"] ==4]
print(rating4["movieId"].value_counts())

480       97
593       97
356       94
1         82
457       79
          ..
3211       1
25750      1
31909      1
5288       1
110586     1
Name: movieId, Length: 5109, dtype: int64

1.5	How many ratings where given in 2015?

In [ ]:
ratings['rating_date'] = pd.to_datetime(ratings['timestamp'], unit='s')
print(ratings[(ratings["rating_date"] >='2015-01-01') & (ratings["rating_date"] < '2016-01-01')].shape)

(6616, 5)

# Question 2
Extract year from title into a new column of movie dataset

In [10]:
movies['year']=movies['title'].str.replace(" ", "").str[-5:-1]
print(movies.head())
print(movies.shape)

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]
(9742, 4)

In [11]:
# To delete rows with an invalid value in column year
movies["year"] = pd.to_numeric(movies["year"], errors="coerce")
print(movies.shape)

movies = movies.dropna()
print(movies.shape)

(9742, 4)
(9730, 4)

# Question 3
From movie dataset, after having deleted movies without year (see Q2):

3.1 How many Thriller movies ?

In [12]:
is_thriller = movies['genres'].str.contains('Thriller')
print(movies[is_thriller].shape)

(1892, 4)

3.2 How many movies in 2016 ?

In [13]:
print(len(movies[movies.year == 2016]))

218

In [16]:
print("There are", sum(movies["year"] == 2016), "movies made in 2016.")

There are 218 movies made in 2016.

3.3 How many Thriller movies in 2016 ?

In [14]:
print(len(movies[is_thriller & (movies["year"] == 2016)]))

41

# Question 4
Find best comedy movies based on average rating.

In [17]:
is_comedy = movies['genres'].str.contains('Comedy')

comedies = movies[is_comedy]

#2. join with ratings dataset to get average rating

movie_ratings = pd.merge(comedies, ratings,how='inner', on='movieId')

#3. compute average rating by movie

movie_ratings_avg = movie_ratings[['rating','title']].groupby('title',as_index=False).mean()
movie_ratings_avg = movie_ratings_avg.sort_values(by='rating', ascending=False)

max_rating = movie_ratings_avg["rating"].max()
print(movie_ratings_avg[movie_ratings_avg["rating"] == max_rating])

                                             title  rating
1267            George Carlin: Back in Town (1996)     5.0
1513             Hollywood Chainsaw Hookers (1988)     5.0
2912  Scooby-Doo! and the Loch Ness Monster (2004)     5.0
2913      Scooby-Doo! and the Samurai Sword (2009)     5.0
3616                    What Men Talk About (2010)     5.0
...                                            ...     ...
2675                                 Presto (2008)     5.0
2164                               Meantime (1984)     5.0
2364     My Life as McDull (Mak dau goo si) (2001)     5.0
2519                                  Oscar (1967)     5.0
2237                            Miss Nobody (2010)     5.0

[144 rows x 2 columns]